<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Pricing example for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="pricing.css" rel="stylesheet">
</head>

<body>

<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <h5 class="my-0 mr-md-auto font-weight-normal">Recipe Book.</h5>
    <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#signupmodal">
    Recipe+
    </button>
</div>

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4" th:text="${title}"></h1>
    <p class="lead">Your Recipes:</p>
</div>
<!-- Modal -->
<div class="modal fade" id="signupmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" th:text="${formheader}"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form th:object="${newPost}" method="post">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" placeholder="Enter recipe title" th:field="*{title}">
                        <div class="alert alert-danger" th:if="${#fields.hasErrors('title')}"><small lass="form-text text-danger" th:errors="*{title}"></small></div>
                    </div>
                    <div class="form-group">
                        <label>Recipe</label>
                        <textarea type="text" class="form-control" placeholder="Enter recipe" th:field="*{content}"></textarea>
                        <div class="alert alert-danger" th:if="${#fields.hasErrors('content')}"><small lass="form-text text-danger" th:errors="*{content}"></small></div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary btn-block">Save Recipe!</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

    <div class="container" th:if="${posts.isEmpty()}">
        <p>Use the button above to start adding recipes.</p>
    </div>
    <div class="container ">

        <div th:if="${!posts.isEmpty()}" class="card-deck mb-3 text-center d-flex justify-content-between" >
            <div  class="card mb-4 box-shadow" th:each="entry: ${posts}">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal" th:text="${entry.title}"></h4>
                </div>
                <div class="card-body">

                    <td><div class="btn-group"><a th:href="@{'/view/' + ${entry.id}}" class="btn btn-primary">View Recipe</a>
                        <a th:href="@{'/delete/' + ${entry.id}}" class="btn btn-danger">Delete</a><a class="btn btn-info" th:href="@{'/update/' + ${entry.id}}">Update</a></div></td>

                </div>
            </div>
        </div>
    </div>


    <footer class="pt-4 my-md-5 pt-md-5 border-top">

    </footer>



<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
<script>
    Holder.addTheme('thumb', {
        bg: '#55595c',
        fg: '#eceeef',
        text: 'Thumbnail'
    });
</script>
</body>
</html>
